<% if action == :edit %>
    <% method_url = sub_url(sub) %>
    <% verb = "patch" %>
    <% button_text = "Save Sub" %>
<% else %>
    <% method_url = subs_url %>
    <% verb = "post" %>
    <% button_text = "Add Sub" %>
<% end %>

<form action="<%=method_url%>" method="post">
    <%= auth_token %>
    <input type="hidden" name="_method" value="<%= verb %>">

    <label>Title:
    <input type="text" name="sub[title]" value="<%=sub.title%>">
    </label>

    <label>Description:
    <textarea name="sub[description]" cols="30" rows="10"><%= sub.description %></textarea>
    </label>

    <button type="submit"><%= button_text %></button>
</form>